<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marksheet II</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css">
</head>
<body class="bg-gray-200 font-sans text-gray-900">
    <div class="container mx-auto my-10">
        <h2 class="text-3xl font-bold mb-8">Marksheet II</h2>
        <!-- Form for uploading marksheet-II image -->
        <form id="marksheetForm" enctype="multipart/form-data" action="/upload-marksheet" method="POST">
            <input type="hidden" name="marksheet-type" value="marksheet-II">
            <input type="file" accept=".png" id="marksheetInput" name="file" required class="p-2 border rounded-md mb-4">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Upload Marksheet</button>
        </form>
    </div>
</body>
</html>
